.cell {
    font-size: 6em;
    cursor: pointer;
    background-color: lightgrey;
    display: flex;
}

.cell:hover {
    background-color: lightsteelblue;
}
.cell img {
    margin: auto;
    width: 60%;
}
.selected {
    background-color: palevioletred;
}