.table {
    width: 50vmin;
    height: 50vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.winner {
    opacity: 0.2;
}

.status {
    height: 2rem;
    padding: 2rem;
}