.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.resizeControl, .restartControl {
    width: 450px;
    margin-bottom: 4rem;
    font-size: 2rem;
}

@media(max-width: 1600px) {
    .game {
        flex-direction: column;
    }
}