.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.resizeControl, .restartControl {
    width: 300px;
    margin-bottom: 2rem;
}

.restartControl {
    text-align: left;
}